<a href="https://colab.research.google.com/github/PrasadhiAmararathne/Capstone-Project---Prasadhi/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Advertising.csv')

In [4]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [8]:
y = df['Sales']
x = df[['TV','Radio','Newspaper']]
x_new = [[40,60,50]]

In [10]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [11]:
my_model = LinearRegression()

In [12]:
my_model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
y_pred = my_model.predict(x_new)

In [14]:
y_pred

array([16.02940155])